* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color:#364859;
  scroll-behavior: smooth;
  text-align: center;
  /* border:black solid 1px; */
}

/* 
font-family: 'Bebas Neue', sans-serif;
font-family: 'Bungee', sans-serif;
font-family: 'Fugaz One', sans-serif;
font-family: 'Gabarito', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Unica One', sans-serif;
*/

a {
  text-decoration: none;
}

/* animations */
@keyframes title {
  from {letter-spacing: 32px;}
  to {letter-spacing: 0;}
}
@keyframes navlinks {
  from {letter-spacing: normal;}
  to {letter-spacing: 1.2px;}
}
/* --- */


/* icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 24;
  color: #77044D;
  margin:5px;
}
nav#return .material-symbols-rounded {
  color:#a60146;
  mix-blend-mode: difference;
}
nav#return .material-symbols-rounded:hover {
  color: #364859;
  cursor: pointer;  
  transform: scale(1.5);
  transition-timing-function: ease;
  transition: 0.5s;
}

/* --- */

/* general */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  background-color: #CBC9CF;
}

nav#return{
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  margin: auto;
  height:100px;
  width:100px;
  z-index: 50;
}

.page-section h2{
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-weight: 400;
  letter-spacing: 20px;
  font-size: 70px;
  padding:4% 0 0 0;
}

h3{
  font-family: 'Fugaz One', sans-serif;
  font-size: 45px;
  letter-spacing: 3px;
  font-weight: 350;
  text-transform: uppercase;
  text-align: center;
}
/* --- */

/* cover page */
.cover{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  min-height:100vh;
  background-image: url(../images/anton-CtlZ68KBDIo-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

header.cover h1#name a {
  font-family: 'Unica One', sans-serif;
  font-size: 250px;
  margin: 10px;
  /* color:rgb(245, 61, 255); */
  /* mix-blend-mode: difference; */
  cursor: pointer;
  background: url(https://i.pinimg.com/originals/84/d8/7e/84d87eb7e536135161c55887d878d44b.gif);
  background-size: cover;
  background-position: center;
  background-clip: text;
  color: transparent;
  animation: title 5s ease 1;
}

#navbar{
  display:grid;
  /* grid-template-columns: 180px 180px 180px; */
  grid-template-columns: 220px 220px;
  grid-template-rows: 1fr 1fr;
  /* grid-template-areas: 
    "link1 link2 link3"
    "link4 link5 link6"
  ; */
  grid-template-areas:
  "link1 link2"
  "link3 link4";
  align-items: center;
  align-content: center;
  padding:10px;
}

#navbar #link1{grid-area: link1;}
#navbar #link2{grid-area: link2;}
#navbar #link3{grid-area: link3;}
#navbar #link4{grid-area: link4;}
/* #navbar #link5{grid-area: link5;}
#navbar #link6{grid-area: link6;} */

.navlink{
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "empty icons"
    "text text"
  ;
  margin:10px 20px;
  justify-items: right;
}

.navlink .icons{
  grid-area: icons;
}

.navlink .link{
  grid-area: text;
  border-radius:5px;
  font-family: 'Roboto Mono', monospaced;
  color: #77044D;
  font-size: 15px;
  font-weight: 550;
  padding: 5px;
  border: rgba(0,0,0,0) solid 2px;
}

.navlink .link:hover{
  grid-area: text;
  font-family: 'Roboto Mono', monospaced;
  font-size: 15px;
  border-radius: 5px;
  padding:5px;
  border:#d74c7d solid 2px;
  color:#fdbdbd;
  cursor: pointer;
  animation: navlinks 1s ease 1;
  animation-fill-mode: forwards;
}

/* navbar outside of cover page */

div#navtopheaderthing h1 {
  flex-grow: 1;
  margin: 10px;
}

div#navtopheaderthing h1 a{
  font-family: 'Unica One', sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  color:#364859;
  cursor: pointer;
}

div#navtopheaderthing{
  position: sticky;
  display:flex;
  align-items: center;
  top: 0%;
  background: #b6b3bce3 ;
  border-radius: 0% 0% 30px 30px;
  z-index: 100;
  height: 70px;
  justify-content: space-around;
}

#navtop{
  flex-grow: 1.5;
  border-radius: 5px;
  width:30vw;
  display: flex;
  /* border: #B6B3BC solid 2px; */
  justify-content: space-evenly;
}

#navtop .navtoplink{
  display: flex;
  /* min-width:150px; */
  margin:10px 20px;
  /* border:#364859 solid 1.1px; */
  border-radius: 5px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navtoplink text{
  font-family: 'Roboto Mono', sans-serif;
  font-size: 15px;
  color: #364859;
}

.navtoplink .material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 24;
  color: #364859;
  margin:5px;
  font-size:15px;
}

.navtoplink:hover{
  transform: scale(1.5);
  transition: 0.75s;
  transition-timing-function: ease;
  /* border:#950a68 solid 1.1px; */
}

.navtoplink:hover text, .navtoplink:hover .material-symbols-rounded{
  color:#5d7888;
}

/* pages */
.page-section{
  min-height:100vh;
  border-radius: 15px;
}

.page-section#contact{
  min-height:50vh;
}

.page-section#aboutme{
  min-height:50vh;
}

/* aboutme page */
section.secaboutme#profile{
  width:80vw;
  min-height:60vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pfpcontainer{
  background:#a3afb6;
  margin: 0 7.5%;
  width:600px;
  height:600px;
  border-radius: 200px 100px 300px 200px;
  background-image: url(../images/pfp.png);
  background-size: cover;
  background-position: center;
}

#profiletext{
  display:flex;
  margin: 0 7.5%;
  flex-direction: column;
  max-width: 30%;
}

#profiletext h3, #profiletext p{
  text-align: left;
}

/* projects page */
#featureProj{
  display: grid;
  margin: 0 8% 5% 8%;
  min-height:60vh;
  max-height:70vh;
  align-self:center;
  justify-self: center;
  grid-template-rows: 50% 40% 10%;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
    "image title"
    "image desc"
    "image skills"
    ;
}

.featureProjArea{
  align-items: center;
  position: relative;
}

.featureProjArea#image{
  grid-area: image;
  border-radius: 15px;
}

.featureProjArea#image img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  vertical-align: top;
}

.featureProjArea#image img:hover, .otherprojflexelement#projfleximage img:hover{
  cursor: pointer;
  scale: 1;
  transition:0.75s;
  transition-timing-function: ease;
}

.featureProjArea#image img:not(:hover), .otherprojflexelement#projfleximage img:not(:hover){
  transition: 0.75s;
  transition-timing-function: ease;
  opacity: 0.65;
  scale:0.95;
  border-radius: 15px;
}


.featureProjArea#title{
  grid-area: title;
  align-self: end;
  justify-self: left;
  padding:0 0 0 7.5%;
}

.featureProjArea#desc{
  grid-area: desc;
  align-self:start;
  justify-self: left;
  padding:0 1.5% 0 7.5%;
}

.featureProjArea#projskills{
  grid-area:skills;
  display:flex;
  justify-content: flex-start;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  padding:0 0 0 7.5%;
}

.featureProjArea#title h3{
  text-align: left;
  margin: auto;
  font-size: 35px;
}

.featureProjArea#desc p{
  font-size: 18px;
  text-align: left;
}

/* other projects beneath featured proj */
#otherprojflex{
  margin:2% 8%;
  display:flex;
  min-height:50vh;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

.otherprojflexarea{
  height:100%;
  width:20%;
  display:flex;
  flex-direction: column;
}

.otherprojflexelement{
  margin:1% 0;
}

.otherprojflexelement#projfleximage{
  max-height:30%;
  border-radius: 15px;
  flex: 0 0 none;
}

.otherprojflexelement#projfleximage img{
  height: 100%;
  width:100%;
  border-radius: 15px;
  object-fit: cover;
}

.otherprojflexelement#projskills{
  display:flex;
  flex-wrap: wrap;
}

#projskills #badge{
  padding: 0 1% 0 0;
}

#projskills #badge img{
  object-fit: contain;
}

.otherprojflexelement#projfleximage img{
  width: 100%;
  height:0%;
  min-height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.otherprojflexelement#projflexdesc{
  display:flex;
  flex-direction: column;
  max-height: 30%;
  height:30%;
  justify-content: space-between;
  align-items: flex-start;
  text-align:left;
}

.otherprojflexelement#projflexdesc h3{
  font-size: 25px;
  font-weight: 550;
  margin:2% 0 1% 0;
  text-align: left;
}

.otherprojflexelement#projflexdesc p {
  font-size: 16px;
  margin: 1% 0;
  text-align: left;
}

/* experience grid */
p#fullCV{
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
}

p#fullCV:hover{
  cursor: pointer;
  color:#5d7888;
  font-weight: 700;
  letter-spacing: 6px;
  text-decoration: underline;
  transition: 1s;
  transition-timing-function: ease;

}

.experience#expgrid{
  display: grid;
  margin: 0 10vw;
  grid-template-columns: 35vw 9vw 35vw;
  grid-template-rows: repeat(6, 300px);
  grid-template-areas:
      "exp1 arrow emp1"
      "emp2 arrow exp2"
      "exp3 arrow emp3"
      "emp4 arrow exp4"
      "exp5 arrow emp5"
      "emp6 arrow exp6";
  justify-content: space-between;
  align-items: start;
  justify-items: center;
}

#exp1{grid-area:exp1;}
#exp2{grid-area:exp2;}
#exp3{grid-area:exp3;}
#exp4{grid-area:exp4;}
#exp5{grid-area:exp5;}
#exp6{grid-area:exp6;}
#exparrow{grid-area:arrow;}
#emp1{grid-area:emp1;}
#emp2{grid-area:emp2;}
#emp3{grid-area:emp3;}
#emp4{grid-area:emp4;}
#emp5{grid-area:emp5;}
#emp6{grid-area:emp6;}

.expgriditem{
  padding:15px;
  border-radius: 10px;
  display:grid;
  min-height:90%;
  width:90%;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr 1fr 5fr 2fr;
  grid-template-areas: 
  "expdate expcomp"
  "expdate exprole"
  "expdate expdesc"
  "expdate expskills"
  ;
  align-items: center;
  justify-items: start;
}

.expgriditem:hover{
  transition: 0.75s;
  background-color: #5d78881f;
  transition-timing-function: ease;
  border-radius: 10px;
  box-shadow: #36485942 5px 5px;
  scale: 1.1;
}

.expdetails{
  min-height:20px;
  font-size:14px;
  font-family: 'Inter', sans-serif;
  text-align:left;
}

.expdetails#date{
  grid-area: expdate;
  color:#8999a8;
  font-size: 10px;
  letter-spacing:5px;
  padding: 0 10px;
  text-transform: uppercase;
}

.expdetails#company{
  grid-area: expcomp;
  font-weight: 600;
  font-size: 22px;
}

.expdetails#role{
  grid-area: exprole;
  color:#8999a8;
  font-size: 14px;
  letter-spacing:5px;
  text-transform: uppercase;
}

.expdetails#edesc{
  grid-area: expdesc;
}

.expdetails#eskills{
  grid-area: expskills;
  display:flex;
  flex-wrap: wrap;
}

.expdetails#eskills #eskill{
  font-size: 10px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color:#8999a8;
  border: #364859 solid 1px;
  border-radius: 7px;
  padding: 6px;
  margin: 2px 6px 0 0;
  font-weight: 500;
}

.expgriditem:hover .expdetails#date,.expgriditem:hover .expdetails#eskills #eskill,.expgriditem:hover .expdetails#role{
  color:#467bad;
}

/* contact page */
div.cinfo{
  display:flex;
  justify-content: center;
  min-height: 20vh;
  min-width: 60vh;
  margin: auto;
}

.cinfo .contactdetail{
  width:auto;
  height:auto;
  padding:15px;
  margin:15px;
}

.cinfo .contactdetail img{
  scale: 2.5;
  color:#364859;
}

.cinfo .contactdetail img:hover{
  scale: 3;
  transition:500ms ease;
  color:#467bad;
}


/* MEDIA QUERIES */

/* | < 481px | Mobile devices |
| 481px — 768px | iPads, Tablets |
| 769px — 1024px | Small screens, laptops | */

@media only screen and (max-width: 1875px) {
  .cover{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  header.cover h1#name a {
    font-size: 100px;
  }
  
  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  
  .navlink{
    display: flex;
    margin: 10px 20px;
    justify-items: right;
    flex-direction: row;
    align-items: center;
  }
  
  .material-symbols-rounded {
    mix-blend-mode: difference;
    font-size: 14px;
  }

  .navlink .link{
    color: #77044D;
    mix-blend-mode: difference;
    font-size: 14px;
  }
  
  .navlink .link:hover, #return .a:hover{
    font-size: 14px;
    mix-blend-mode: normal;
  }
  
  #navtop, nav#return, div#navtopheaderthing{
    display: none;
  }

  .page-section h2{
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 35px;
  }
  
  h3{
    font-size: 20px;
    letter-spacing: 3px;
  }

  .experience#expgrid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    justify-items: center;
  }
}

@media only screen and (max-width:975px){

  section.secaboutme#profile{
    width:80vw;
    min-height:60vh;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  #pfpcontainer{
    scale: 0.5;
  }
  
  #profiletext{
    display:flex;
    margin: 0 7.5%;
    flex-direction: column;
    max-width: 80%;
  }


  #featureProj{
    display: flex;
    flex-direction: column;
    max-height: none;
  }

  .featureProjArea{
    align-items: center;
    position: relative;
  }
  
  .featureProjArea#image{
    border-radius: 15px;
    padding: 2%;
  }
  
  .featureProjArea#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }
  
  .featureProjArea#title{
    align-self: center;
    padding: 2% 2% 0 2%;
  }

  .featureProjArea#desc {
    align-self: center;
    justify-self:center;
    padding: 2% 2% 0 2%;
    margin: none;
  }

  .featureProjArea#projskills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap-reverse;
      align-items: flex-start;
      padding: 2% 2% 2%;
    }

  .featureProjArea#title h3{
    font-size: 25px;
    text-align: center;
  }
  
  .featureProjArea#desc p{
    font-size: 14px;
    text-align: center;
  }
  
  #otherprojflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  .otherprojflexarea {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .otherprojflexelement#projflexdesc{
    justify-content: flex-start;
  }

  .expdetails#date{
    writing-mode:vertical-rl;
  }

  div.cinfo{
    flex-direction: column;
  }
}