* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color:#364859;
  scroll-behavior: smooth;
}

a {
  color:#364859;
  text-decoration: none;
}

/* animations */
@keyframes title {
  from {letter-spacing: 32px;}
  to {letter-spacing: 0;}
}

@keyframes navlinks {
  from {letter-spacing: normal;}
  to {letter-spacing: 1.2px;}
}
/* --- */


/* icons */
.material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 350,
  'GRAD' 0,
  'opsz' 24
}

nav#return .material-symbols-rounded {
  color:#970149;
  mix-blend-mode: difference;
}

nav#return .material-symbols-rounded:hover {
  color: #364859;
  cursor: pointer;
}
/* --- */

/* general */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  background-color: #CBC9CF;
}

nav#return{
  position: fixed;
  bottom: 2.5%;
  right: 2.5%;
  margin: auto;
  height:100px;
  width:100px;
  z-index: 50;
}

h3{
  font-family: 'Roboto Mono', monospaced;
  font-size: 45px;
  letter-spacing: 7px;
  font-weight: 350;
  text-transform: uppercase;
}
/* --- */

/* cover page */
.cover{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  height:100vh;
  background-image: url(../images/anton-CtlZ68KBDIo-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

header.cover h1#name a {
  font-family: 'Unica One', sans-serif;
  font-size: 250px;
  margin: 10px;
  /* color:rgb(245, 61, 255); */
  /* mix-blend-mode: difference; */
  cursor: pointer;
  background: url(https://i.pinimg.com/originals/84/d8/7e/84d87eb7e536135161c55887d878d44b.gif);
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  animation: title 5s ease 1;
}

#navbar{
  display:grid;
  grid-template-columns: 180px 180px 180px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "link1 link2 link3"
    "link4 link5 link6"
  ;
  align-items: center;
  align-content: center;
  padding:10px;
}

#link1{grid-area: link1;}
#link2{grid-area: link2;}
#link3{grid-area: link3;}
#link4{grid-area: link4;}
#link5{grid-area: link5;}
#link6{grid-area: link6;}

.navlink{
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "empty icons"
    "text text"
  ;
  margin:10px 20px;
  justify-items: right;
}

.icons{
  grid-area: icons;
}

.link{
  grid-area: text;
  border-radius:5px;
  font-family: 'Roboto Mono', monospaced;
  font-size: 15px;
  padding: 5px;
  border: rgba(0,0,0,0) solid 2px;
}

.link:hover, .a:hover{
  grid-area: text;
  font-family: 'Roboto Mono', monospaced;
  font-size: 15px;
  border-radius: 5px;
  padding:5px;
  border:#d74c7d solid 2px;
  color:rgb(253, 189, 189);
  cursor: pointer;
  animation: navlinks 1s ease 1;
  animation-fill-mode: forwards;
}
/* --- */

/* pages */
.page-section{
  height:100vh;
  text-align: center;
  border-radius: 15px;
}

.page-section h2{
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 50px;
  padding:3vh 0 1vh 0;
}
/* --- */


/* projects page */
#featureProj{
  display: grid;
  margin: 0px 8%;
  height:50vh;
  /* gap:15px; */
  align-self:center;
  justify-self: center;
  grid-template-rows: 50% 40% 10%;
  grid-template-columns: 65% 35%;
  grid-template-areas: 
    "image title"
    "image desc"
    "image skills"
    ;
  /* border:red solid 1px; */
}

.featureProjArea{
  align-items: center;
  position: relative;
}

.featureProjArea#image{
  grid-area: image;
  border-radius: 15px;
}

.featureProjArea#image img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.featureProjArea#image img:hover, .otherprojflexelement#projfleximage img:hover{
  transition: 0.20s;
  transition-timing-function: ease;
  transform-origin: ce;
  opacity: 0.5;
  border:#970149 solid 4px;
  cursor: pointer;
}

.featureProjArea#title{
  grid-area: title;
  align-self: end;
  justify-self: left;
  padding:0 2.5%;
  /* border: black solid 1px; */
}

.featureProjArea#desc{
  grid-area: desc;
  align-self:start;
  justify-self: left;
  padding:0 2.5%;
  /* border: black solid 1px; */
}

.featureProjArea#projskills{
  grid-area:skills;
  display:flex;
  justify-content: left;
  align-content: center;
  padding:0 2.5%;
  /* border: black solid 1px; */
}

/* other projects beneath featured proj */
#otherprojflex{
  margin:15px 8%;
  display:flex;
  min-height:300px;
  height:30vh;
  /* border:black solid 1px; */
  align-self:center;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
}

.otherprojflexarea{
  height:100%;
  width:20%;
  /* border:black solid 1px; */
  display:flex;
  flex-direction: column;
}

.otherprojflexelement{
  margin:1% 0;
  /* border: black solid 1px; */
  border-radius:10px;
}

.otherprojflexelement#projfleximage{
  height:60%;
  max-height:60%;
}

.otherprojflexelement#projskills{
  height:10%;
  display:flex;
  justify-content: left;
  align-items: center;
}

#projskills img{
  padding:0 1% 0 0;
  max-height: 70%;  
}

.otherprojflexelement#projfleximage img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.otherprojflexelement#projflexdesc{
  display:flex;
  flex-direction: column;
  max-height: 30%;
  height:30%;
  justify-content: space-between;
  align-items: start;
}

.otherprojflexelement#projflexdesc h3{
  font-size: 15px;
  font-weight: 500;
}

.otherprojflexelement#projflexdesc p{
  font-size: 12px;
}